
html {
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff; /* To cover OSes with no default background color */
  }

input.input-time {
    border-radius: 30;
    border-color: #2196F3;
    border-width: 5px;
    text-align: center;
    text-decoration: slategray;
}

div.divider {
    margin: 20px;
}

div.invisible {
    display: none;  
}

textarea {
    display: block;
    background: transparent;
    padding: 10px;
    border-color: rgba(0,0,0,.38);
    border-radius: 7px;    
    line-height: 1.9;
    width: 100%;
    color: black;
    box-shadow: none;
}
